= simple_form_for(@work, html: {multipart: true}, defaults: { input_html: { class: "vertical"}}) do |f|
  = f.input :project_id, collection: Project.all, prompt: true
  = f.input :date_time_performed, as: :date, label: "Date/Time performed"
  = f.input :hours, collection: 1..8, prompt: true
  = f.input :doc, as: :file, label: "Notes(optional)"
  = f.submit @work.new_record? ? "Create Work" : "Update Work"
