%h1= @work.date_time_performed

= link_to "Edit work", edit_work_path(@work)

%p= "Project: #{@work.project.name}"
%p= "User: #{@work.user}"
%p= "Hours: #{@work.hours}"

- content_for :aside do
  = render "sidebar"