= simple_form_for(@project, defaults: { input_html: { class: "vertical"} }) do |f|
  = f.input :name
  = f.input :slug
  = f.input :default_rate
  = f.input :company_id, collection: Company.all, prompt: true
  = f.input :user_id, collection: User.order('last_name, first_name'), prompt: true
  = f.submit @project.new_record? ? "Create Project" : "Update Project"