%h1= @project.name

= link_to "Edit project", edit_project_path(@project)

%p= "Company: #{@project.company}"
%p= "Default rate: #{@project.default_rate}"
%p= "Slug #{@project.slug}"

%table 
  %thead 
    %tr 
      %th View
      %th User
      %th Project
      %th Date/Time
      %th Hours
  %tbody 
    = render partial: "works/work", collection: @project.works

- content_for :aside do
  = render "sidebar"