%h1= "Hello, #{@project.user}"

%p Sorry I am bother you, but project information was updated

%p= "Project name: #{@project}"
%p= "Default rate: #{@project.default_rate}"
%p= "Company: #{@project.company}"